.blog-section-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
    text-align: left;
}

.blog_bundle_cart_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog_inner_image_section {
    margin-bottom: 40px;
}
.blog_item_img img {
    width: 100%;
    border-radius: 40px;
}
.blog_meta_section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.blog_meta_section ul li {
    padding: 0px 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: "Archivo", serif;
    color: #000000;
    border: 1.35px solid black;
    border-radius: 100px;
}
.blog_main_header {
   margin: 25px 0;
   font-size: 24px;
   line-height: 32px;
   font-weight: 700;
   font-family: "Oswald", serif;
   letter-spacing: -0.01em;
}
@media only screen and (max-width: 991px) {
    .blog-section-inner{
        grid-template-columns: repeat(1, 1fr); 
    }
  }
  @media only screen and (max-width: 599px) {
    .blog_item_img img {
        border-radius: 24px;
    }
    .blog_inner_image_section {
        margin-bottom: 28px;
    }
    .blog_main_header {
        margin: 20px 0;
        font-size: 22px;
     }
     .blog_meta_section ul li {
        height: 32px;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
    }
  }